@use "../../../sass/abstracts/index.scss" as v;
.mainHeader {
  display: flex;
  justify-content: space-between;
}
.tagText {
  color: v.$text-blue;
}
.headerTitle {
  font-family: v.$code;
}
.headerNav {
  ul {
    list-style: none;
    display: inline-flex;
    li {
      cursor: pointer;
      margin: 0 2em;
    }
    .navigatorLinks {
      text-decoration: none;
      color: inherit;
    }
    .selected {
      border-bottom: 2.5px solid v.$lightestBlue;
    }
  }
}
