.skillCardWrapper{
    height: 160px;
    width:120px;
    flex-direction: column;
    align-items: center;
    gap:1em;
    transition:.25s ease-out;
    img{
        width:60px;
        transition:.25s ease-out;
    }
   
    &:hover{
        font-size: 22px;
        img{
            width:80px;
        }
    }
}