@use "../../../sass/abstracts/variables" as v;

.skillSection{
    text-align: center;
    position: relative;
   
}
.skillHeader{
    justify-content: center;
}
.seeMoreButton{
    position: absolute;
    right: 0;
    top:0;
    background-color: initial;
    color:white;
    border:none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
        
    }
}
.skillCardsContainer{
    margin-top:1.5em ;
    flex-wrap: wrap;
    justify-content: space-around;
}