@use "../../../sass/abstracts/variables" as v;

.skillSection{
    text-align: center;
    position: relative;
   
}
.skillHeader{
    justify-content: center;
}
.seeMoreButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
    justify-content: center;
    background-color: initial;
    color:white;
    border:none;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
    img{
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(159deg) brightness(104%) contrast(107%);
        width:30px;
    }
}
.skillCardsContainer{
    flex-wrap: wrap;
    justify-content: space-around;
}