@use "../../../sass/abstracts/variables" as v;
.roleText {
  color: v.$lightestBlue;
  text-transform:uppercase;
}

.introSection {
  justify-content: space-between;
  align-items: center;
  .introFullName{
    font-size: 2.5rem;
    color:white;
  }
  .buttonWrapper{
    margin-top:1.5em;
    max-width: 50%;
  }
}

.introductionArticle{
  max-width: 650px;
}
.introImageContainer{
  img{
    min-width:350px;
    max-width: 350px;
  }
}


 @media screen and (max-width:768px){
   .introImageContainer{
     img{
       display: none;
     }
   }
 }